*{
    margin:0px;
    padding:0px;
    
}

.wrap{
    overflow:hidden;
}

body{
    position:relative;
    
}

#header{
    padding: 40px;
    background:#fff;
    text-align: center;
}

.over{
    width:100%;
    background:#fff;
    animation-name: fade;
    animation-duration: 4s;
}

@keyframes fade{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

.thumbnail{
    width:60%;
    aspect-ratio:18/11;
    transition: .7s ease-in-out ;
    text-align: center;
}

.thumbnail2{
    width:40%;
    aspect-ratio:47/55;
    text-align: center;
    margin-left: 20%;
    transition: .7s ease-in-out ;
}

.container{
position:relative;

}

.color{
    width:50%;
    aspect-ratio:1/1;
    text-align:center;
    transition: .7s ease-in-out;
    
    align-items:center;
    opacity:0.5;
}

.ithas{
    width:50%;
    aspect-ratio:14/3;
    text-align:center;
    transition: .7s ease-in-out;
    align-items:center;
}

.exp{
    width:50%;
    aspect-ratio:7/2;
    text-align:center;
    align-items:center;
    transition: .7s ease-in-out;
    margin-top:70%;
}

.each{
    width:60%;
    aspect-ratio:7/2;
    margin-left: 20%;
    align-items:center;
    margin-top:95%;
    position:absolute;
}



.fadein {
    z-index:10;
    transform: translateX(10%);
    transition: all .7s ease-in;
    
  }
  /* 画面に入った時の動き */
  .fadein.blockIn {
    transform: translateX(30%);
  }

.fadein2 {
    z-index:20;
    transform: translateY(20%);
    transition: all .7s ease-in;
  }
  /* 画面に入った時の動き */
  .fadein2.blockIn {
    transform: translateY(-20%);
  }

  .fadein3 {
    z-index:30;
    transform: translate(80%, 80%);
    transition: all .7s ease-in;
    position:absolute;
  }
  /* 画面に入った時の動き */
  .fadein3.blockIn {
    transform: translate(50%, 50%);
  }

  .fadein4 {
    z-index:70;
    transform: translate(20%, 30%);
    transition: all .7s ease-in;
    position:absolute;
  }
  /* 画面に入った時の動き */
  .fadein4.blockIn {
    transform: translate(50%,50%);
  }

  .fadein5 {
    z-index:60;
    transform: translate(90%,10%);
    transition: all .7s ease-in;
    position:absolute;
  }
  /* 画面に入った時の動き */
  .fadein5.blockIn {
    transform: translate(50%,50%);
  }

  .fadein6 {
    z-index:50;
    transform: translate(40%,70%);
    transition: all .7s ease-in;
    position:absolute;
  }
  /* 画面に入った時の動き */
  .fadein6.blockIn {
    transform: translate(50%,50%);
  }

  .fadein7 {
    z-index:40;
    transform: translate(10%,80%);
    transition: all .7s ease-in;
    position:absolute;  
}

  /* 画面に入った時の動き */
  .fadein7.blockIn {
    transform: translate(50%,50%);
  }

  .fadein8 {
    z-index:80;
    transform: translate(40%,40%);
    transition: all .7s ease-in;
    position:absolute;
  }
  /* 画面に入った時の動き */
  .fadein8.blockIn {
    transform: translate(50%,50%);
  }

  .fadein9 {
    z-index:90;
    transform: translate(20%,10%);
    transition: all .7s ease-in;
    position:absolute;
  }
  /* 画面に入った時の動き */
  .fadein9.blockIn {
    transform: translate(50%,50%);
  }

  .fadein10 {
    z-index:100;
    transform: translate(100%,50%);
    transition: all .7s ease-in;
    position:absolute;
  }
  /* 画面に入った時の動き */
  .fadein10.blockIn {
    transform: translate(50%,50%);
  }

  .fadein11 {
    z-index:110;
    transform: translate(0%,50%);
    transition: all .7s ease-in;
    position:absolute;
  }
  /* 画面に入った時の動き */
  .fadein11.blockIn {
    transform: translate(50%,50%);
  }


.box{
    display:flex;
    width:100%;
    justify-content:center;
    margin-top:120%;
    text-align: center;
}


.hands{
   
    width:100%;
    
    aspect-ratio:1247/628;
    z-index:20;
    position:absolute;
    align-items:center;
    justify-content:center;
    text-align: center;
}

.boxes1{
    border:1px solid #fff;
    margin:2%;
    width:25%;
    aspect-ratio:8/15;
    overflow:scroll !important;
    position:relative;
    align-items:center;   
    text-align: center;
}

.boxes1::-webkit-scrollbar{
    display:none;
}


.back{
    width:100%;
    aspect-ratio:2/15;
    z-index:10;
    position:absolute;
    align-items:center;
    left:0px;
    top:0px;
}



.nail{
    width:100%;
    aspect-ratio:2/15;
    z-index:30;
    position:absolute;
    align-items:center;
    left:0px;
    top:0px;
}

.sub{
    width:70%;
    aspect-ratio:9/4;
    text-align:center;
    align-items:center;
    transition: .7s ease-in-out;
    margin-top:50%;
    margin-left:-79%;
}

.fadein12 {
    z-index:120;
    transform: translateY(80%);
    transition: all .7s ease-in;
    position:absolute;
  }
  /* 画面に入った時の動き */
  .fadein12.blockIn {
    transform: translateY(20%);
  }


.xscroll{
    margin-top:45%;
    justify-content:center;
}

.dboxes{
    
    overflow-x:auto;
    white-space:nowrap;
    -webkit-overflow-scrolling: touch;
    width:100%;
    aspect-ratio:9/3.8;
    justify-content:center;
    text-align: center;
}

.items1{
    display: inline-block;
	width:20%;
    aspect-ratio:8/15;
    margin:2%;
	margin-left: -6%;
    position:relative;
    align-items:center;   
    text-align: center;

}

.items{
   
    display: inline-block;
	width:20%;
    aspect-ratio:8/15;
	margin: 2%;
    position:relative;
    align-items:center;   
    text-align: center;

}

.items2{
    display: inline-block;
	width:20%;
    aspect-ratio:8/15;
    margin:2%;
	margin-right: 15%;
    position:relative;
    align-items:center;   
    text-align: center;

}



.dimages{
    width:100%;
    aspect-ratio:8/15;
    position:absolute;
    align-items:center;
}

.wish{
    width:70%;
    aspect-ratio:9/4;
    text-align:center;
    align-items:center;
    transition: .7s ease-in-out;
    margin-top:-5%;
}


.fadein14 {
    z-index:150;
    transform: translate(20%,80%);
    transition: all .7s ease-in;
    position:absolute;
  }
  /* 画面に入った時の動き */
  .fadein14.fadein {
    transform: translate(50%,50%);
  }

.fadein15 {
    z-index:130;
    transform: translate(10%,60%);
    transition: all .7s ease-in;
    position:absolute;
  }
  /* 画面に入った時の動き */
  .fadein15.blockIn {
    transform: translate(40%,60%);
  }

.fadein16 {
    z-index:140;
    transform: translate(40%,40%);
    transition: all .7s ease-in;
    position:absolute;
  }
  /* 画面に入った時の動き */
  .fadein16.blockIn {
    transform: translate(0%,60%);
  }


#footer{
    margin-top:60%;
    background:#333;
    color:#fff;
    padding:40px;
    text-align:center;
}

.footer{
    text-align:right;
    font-size:3%;
    color:white;
}